In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("iris.data", header = None)

In [ ]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
df.columns = ["sepal length","sepal width","petal length","petal width","class"]

In [ ]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
df["class"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [ ]:
# class column is the target column 
# objective is classification in one of the mentioned classes

In [ ]:
df.isnull().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

In [ ]:
x = df.drop("class",axis=1)
y = df[["class"]]

In [ ]:
x.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
y.head()

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
 x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2, random_state=42, stratify=y)

In [ ]:
x_train.head()

     sepal length  sepal width  petal length  petal width
8             4.4          2.9           1.4          0.2
106           4.9          2.5           4.5          1.7
76            6.8          2.8           4.8          1.4
9             4.9          3.1           1.5          0.1
89            5.5          2.5           4.0          1.3

In [ ]:
y_train.head()

               class
8        Iris-setosa
106   Iris-virginica
76   Iris-versicolor
9        Iris-setosa
89   Iris-versicolor

In [ ]:
x_test.head()

     sepal length  sepal width  petal length  petal width
38            4.4          3.0           1.3          0.2
127           6.1          3.0           4.9          1.8
57            4.9          2.4           3.3          1.0
93            5.0          2.3           3.3          1.0
42            4.4          3.2           1.3          0.2

In [ ]:
y_test.head()

               class
38       Iris-setosa
127   Iris-virginica
57   Iris-versicolor
93   Iris-versicolor
42       Iris-setosa

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier()

In [ ]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
ypred = model.predict(x_test)

In [ ]:
ypred

array(['Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa'],
      dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score, plot_confusion_matrix, classification_report

In [ ]:
accuracy_score(y_test, ypred) # test accuracy

0.9333333333333333

In [ ]:
ypred1 = model.predict(x_train)

In [ ]:
accuracy_score(y_train, ypred1)# training accuracy

1.0

In [ ]:
# when model performs well on training data but not well on test data it is known as overfitting
# when model neither performs well on training data nor well on test data it is known as underfitting
# generalized--perform equally well on training as well as test

In [ ]:
model1 = DecisionTreeClassifier(max_depth=4)

In [ ]:
model1.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=4)

In [ ]:
ypred = model1.predict(x_test)

In [ ]:
ypred

array(['Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa'],
      dtype=object)

In [ ]:
accuracy_score(y_test, ypred) # test accuracy

0.9666666666666667

In [ ]:
ypred1 = model.predict(x_train)

In [ ]:
accuracy_score(y_train, ypred1)# training accuracy

1.0

In [ ]:
print(classification_report(y_test, ypred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      0.90      0.95        10
 Iris-virginica       0.91      1.00      0.95        10

       accuracy                           0.97        30
      macro avg       0.97      0.97      0.97        30
   weighted avg       0.97      0.97      0.97        30